///
/// news card
/// 1. this values from design layout - height/width
/// 2. pixel perfect
///

.news-card {
  $self: '.news-card';
  transition: transform 0.3s;
  cursor: pointer;

  &__picture {
    position: relative;
    padding-top: percentage(237/323); // 1
    overflow: hidden;
  }

  &__pic {
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    position: relative;
    transition: fill 0.3s;
    color: #717171;
    margin-left: 1px;
    margin-right: 13px;
    float: left;
    width: 16px;
    height: 16px;
    fill: #231f20;
  }

  &__type {
    color: #b2544f;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.35px;
    font-family: $extra-font-family;
    font-weight: 700;
    margin-top: 17px;
  }

  &__name {
    transition: color 0.3s;
    color: #231f20;
    font-size: 19px;
    letter-spacing: -1.1px;
    line-height: 22px;
    font-family: $heading-font-family;
    font-weight: 700;
    margin-top: 8px;
    max-width: 80%;
  }

  &__text {
    color: #616161;
    font-size: 15px;
    letter-spacing: -0.38px;
    line-height: 22px;
    font-family: $base-font-family;
    margin-top: 11px;
    margin-right: -1px;
  }

  &__date {
    color: #9e9e9e;
    font-size: 12px;
    line-height: 22px;
    font-family: $base-font-family;
    margin-top: 10px;
  }

  &:hover {
    #{$self}__icon {
      fill: #b2544f;
    }

    #{$self}__name {
      color: #676666;
    }

    @include breakpoint($desktop-bp) {
      transform: translate3d(0, -20px, 0);

      #{$self}__pic {
        transform: scale(1.1) rotate(4deg);
      }
    }
  }
}
