//- icon

mixin icon(name)
    - var className = attributes.class ? attributes.class : null
    - className += ' icon-' + name
    - var href = 'assets/icons.svg#' + name;
    svg(class=className)
        use(xlink:href=href)
