////
/// this file contain base styles for tags
/// 1. it cancel all focuses
////

* {
  box-sizing: border-box;
}

body {
  @include font-smoothing;
  font-family: $base-font-family;
}

// 1
:focus {
  outline: none;
}
