////
/// this file contain common elements
/// 1. this values from design layout
////

.container {
  @include centered-block;
  width: percentage(1440/1680); // 1
  min-width: 320px;
  max-width: 1440px;
}
