doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title News test
        link(rel="stylesheet" href="styles/vendor.css")
        link(rel="stylesheet" href="styles/site.css")
        block styles
    body
        block body
        script(src="scripts/vendor.js")
        script(src="scripts/site.js")
        block scripts
