extends default

append body
    block content

append fonts
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:400,700|Philosopher:700&amp;subset=cyrillic" rel="stylesheet")
