.news(data-bind="news")
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Конституционное право
            .news-card__name Адвокатов наказали за конфликт в сети
            .news-card__text Одним из новых заместителей Александра Коновалова стал Денис Новак, до последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Этика общения адвокатов
            .news-card__name Диалог адвокатуры и следствия
            .news-card__text Главное управление МВД столицы обратилось в АП г. Москвы с просьбой организовать явку представителей палаты для проведения обыска в жилище адвоката.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Конституционное право
            .news-card__name Адвокатов наказали за конфликт в сети
            .news-card__text Одним из новых заместителей Александра Коновалова стал Денис Новак, до последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Этика общения адвокатов
            .news-card__name Диалог адвокатуры и следствия
            .news-card__text Главное управление МВД столицы обратилось в АП г. Москвы с просьбой организовать явку представителей палаты для проведения обыска в жилище адвоката.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Конституционное право
            .news-card__name Адвокатов наказали за конфликт в сети
            .news-card__text Одним из новых заместителей Александра Коновалова стал Денис Новак, до последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Этика общения адвокатов
            .news-card__name Диалог адвокатуры и следствия
            .news-card__text Главное управление МВД столицы обратилось в АП г. Москвы с просьбой организовать явку представителей палаты для проведения обыска в жилище адвоката.
            .news-card__date 26 Августа
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей
            .news-card__date 26 Августа
