.news(data-bind="news")
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Конституционное право
            .news-card__name Адвокатов наказали за&nbsp;конфликт в&nbsp;сети
            .news-card__text Одним из&nbsp;новых заместителей Александра Коновалова стал Денис Новак, до&nbsp;последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Этика общения адвокатов
            .news-card__name Диалог адвокатуры и&nbsp;следствия
            .news-card__text Главное управление МВД столицы обратилось в&nbsp;АП г. Москвы с&nbsp;просьбой организовать явку представителей палаты для проведения обыска в&nbsp;жилище адвоката.
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Конституционное право
            .news-card__name Адвокатов наказали за&nbsp;конфликт в&nbsp;сети
            .news-card__text Одним из&nbsp;новых заместителей Александра Коновалова стал Денис Новак, до&nbsp;последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Этика общения адвокатов
            .news-card__name Диалог адвокатуры и&nbsp;следствия
            .news-card__text Главное управление МВД столицы обратилось в&nbsp;АП г. Москвы с&nbsp;просьбой организовать явку представителей палаты для проведения обыска в&nbsp;жилище адвоката.
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
    .news__item
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Конституционное право
            .news-card__name Адвокатов наказали за&nbsp;конфликт в&nbsp;сети
            .news-card__text Одним из&nbsp;новых заместителей Александра Коновалова стал Денис Новак, до&nbsp;последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.
            .news-card__date 26 Августа
    .news__item.news__item--extra
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
    .news__item.news__item--extra
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Этика общения адвокатов
            .news-card__name Диалог адвокатуры и&nbsp;следствия
            .news-card__text Главное управление МВД столицы обратилось в&nbsp;АП г. Москвы с&nbsp;просьбой организовать явку представителей палаты для проведения обыска в&nbsp;жилище адвоката.
            .news-card__date 26 Августа
    .news__item.news__item--extra
        .news-card
            .news-card__picture
                +pic('500x350.png').news-card__pic
            .news-card__type
                +icon('freedom').news-card__icon
                | Закон и порядок
            .news-card__name Упущены значимые правовые категории
            .news-card__text Федеральная палата адвокатов оперативно подготовила предложения по&nbsp;изменению УПК РФ&nbsp;во&nbsp;исполнение требований Президента изменить порядок заключения и&nbsp;содержания под стражей предпринимателей
            .news-card__date 26 Августа
